body {
    margin: 0 50px;
    display: table;
    height: 100%;
  }
  
.container {
    display: flex;
    gap: 50px;
  }
  
#posts {
  width: 400px;
}

button {
  cursor: pointer;
}
#posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 25px;
}

#msg {
  color: red;
}

#title {
    text-align: center;
    font-family: sans-serif;

  }

.first-color { 
	background: #d3d6db; 
}
	
.second-color { 
	color: #3a4750; 
}

.third-color { 
	color: #303841; 
}

.fourth-color { 
	color: #be3144; 
}

footer {
    position:absolute;
    bottom:0;
    width:auto;
    height:60px;   
}
  